{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Welcome to Disbod</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
  </head>
  <body>
    <!-- Navbar -->
    <header class="navbar">
      <div class="container">
        <h1 class="logo">Disbod</h1>
        <nav>
          <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/explore/">Explore</a></li>
            <li><a href="/login/">Login</a></li>
            <li><a href="/register/">Join</a></li>
          </ul>
        </nav>
      </div>
    </header>
    <!-- Main Content -->
    <main>
      {% block content %}{% endblock %}
    </main>
    <!-- Footer -->
    <footer>
      <p>&copy; 2025 Disbod. All Rights Reserved.</p>
    </footer>
  </body>
</html>
